/*
 * Empty Stylesheet file.
 */

#loginBttn{
    -fx-background-radius: 30;
    -fx-background-color: white;
}

#userField {
  -fx-border-color: grey;
  -fx-border-width:  0 0 1 0;
  -fx-background-color: transparent;
  -fx-text-fill: white;
}

#passwordField {
  -fx-border-color: grey;
  -fx-border-width:  0 0 1 0;
  -fx-background-color: transparent;
   -fx-text-fill: white;
}

#signupBttn{
    -fx-background-color:none;
    -fx-text-fill: white;
}

#signupBttn:hover{
    -fx-border-color: white;
}

